adf-testing-johan/PartialArmTemplates/ArmTemplate_8_9_2021_9_55_54.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-testing-johan"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Lego_ADSL_to_ASQL_Themes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Lego_Themes",
								"type": "DataFlowReference",
								"datasetParameters": {
									"ADLSLegoThemes": {
										"FileName": "FileName"
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"folder": {
					"name": "Themes Only"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-29T14:14:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lego_HTTP_to_ADSL_Themes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Themes from HTTP to ADLS",
						"description": "Copy file(s) from Rebrickable to Azure Data Lake Storage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "@{pipeline().parameters.FileName}.csv"
							},
							{
								"name": "Destination",
								"value": "lego//@{pipeline().parameters.FileName}.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzBlob_johandahl",
										"type": "LinkedServiceReference"
									},
									"path": {
										"value": "lego/errors/@{pipeline().parameters.FileName}.csv",
										"type": "Expression"
									}
								}
							},
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "HTTP_Lego_Themes",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_Lego_Themes",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "FileName"
								}
							}
						]
					}
				],
				"parameters": {
					"FileName": {
						"type": "String",
						"defaultValue": "FileName"
					}
				},
				"folder": {
					"name": "Themes Only"
				},
				"annotations": [
					"Extraction"
				],
				"lastPublishTime": "2021-08-04T12:33:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HTTP_Lego_Themes')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Lego_Themes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orchestration_Lego_Themes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lego_ADSL_to_ASQL_Themes",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lego_HTTP_to_ADSL_Themes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Lego_ADSL_to_ASQL_Themes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Lego_HTTP_to_ADSL_Themes",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Lego_HTTP_to_ADSL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "Themes Only"
				},
				"annotations": [],
				"lastPublishTime": "2021-08-04T12:33:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Lego_ADSL_to_ASQL_Themes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Lego_Themes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage_johandahl",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "String",
						"defaultValue": "FileName"
					}
				},
				"folder": {
					"name": "Themes Only"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "themes.csv",
							"type": "Expression"
						},
						"fileSystem": "lego"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASQL_Lego_Themes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ASQL_johandahl_db_testing",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Themes Only"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "lego",
					"table": "themes"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HTTP_Lego_Themes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "http_lego",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Themes Only"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "themes.csv.gz"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"compressionCodec": "gzip",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "parent_id",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}